.manage-spot-container {
  margin-left: 45px;
  margin-right: 45px;
}

.manage-spot-container > button {
  margin-bottom: 17px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(250, 78, 30);
  background-color: rgb(250, 78, 30);
  color: white;
  margin-top: 10px;
  box-shadow: 0.5rem 0.5rem 2rem #d3d3d3;
}

.manage-spot-container > h1 {
  margin-bottom: 0px
}

.delete-button > button {
  margin-bottom: 17px;
  width: 65px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid rgb(250, 78, 30);
  background-color: rgb(250, 78, 30);
  color: white;
  margin-top: 10px;
  margin-right: 5px;
}


#modal-content {
  width: 300px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.yes-no-delete-spot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yes-button {
  margin-bottom: 7px;
  width: 90%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(250, 78, 30);
  background-color: rgb(250, 78, 30);
  color: white;
}

.no-button {
  margin-bottom: 7px;
  width: 90%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(67, 66, 66);
  background-color: rgb(67, 66, 66);
  color: white;
}


.delete-spot-container > h3 {
  margin-left: 80px
}

.delete-spot-container > p {
  margin: 15px
}
