.on-submit-errors {
  color: red;
  margin: 0px;
  font-size: 12px
}
.create-a-spot-form {
  margin-left: 200px;
  margin-right: 200px;

}


.country-address-container {
  display: flex;
  flex-direction: column;
}

.city-label,
.state-label {
  display: flex;
  flex-direction: column;

}
.city-and-state > input {
  width: 97%;
  margin-right: 3px;
}

.city-and-state-container {
  display: grid;
  grid-template-columns: 75% 25%;
}

.city-and-state > label,
.state-label > label,
.country-address-container > label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.create-spot-description > textarea {
  width: 100%;
  height: 150px
}

.create-spot-title > input {
  width: 100%
}
.create-spot-price > input {
  width: 90%
}

.create-spot-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px ;
}

.create-spot-submit {
  margin-bottom: 17px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(250, 78, 30);
  background-color: rgb(250, 78, 30);
  color: white;
  margin-top: 10px;
}

.create-spot-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
