.preview-image {
  width: 250px
}


.spot-name-tooltip {
  visibility: hidden;
  position: absolute;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #787c7e;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.all-spots-container:hover .spot-name-tooltip {
  visibility: visible;
}

.all-spots-container:hover {
  cursor: pointer
}

.spot-details-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}


.all-spots-container {
  border: 1px solid black;
  border-radius: 5%;
}


/* .all-spots-container div {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
} */

