 .preview-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;

}


.spot-name-tooltip {
  visibility: hidden;
  position: absolute;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #787c7e;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.all-spots-container:hover .spot-name-tooltip {
  visibility: visible;
}

.all-spots-container:hover {
  cursor: pointer
}

.spot-details-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 25px
}


.star-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.new-rating {
  visibility: hidden;
}


.spot-city-and-state,
.new-rating
.night-text {
  font-size: smaller;
}

.spot-price {
  font-weight: bold;
}


.star-and-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}


.reserve-container {
  margin: 25px;
  display: grid;
}

.reserve-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(250, 78, 30);
  background-color: rgb(250, 78, 30);
  color: white;
  margin-top: 10px;
}


