.hidden {
  display: none
}


.logo {
  height: 40px
}


.logo:hover {
cursor: pointer
}

.nav-list {
 list-style-type: none;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-right: 20px;
 padding-left: 20px;
 border-bottom: 1px solid #CCCCCC;
 height: 70px;
 margin: 0px;
}

.user-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius:45%;
  background-color: white;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  padding: 5px;

}

.profile-dropdown {
  list-style-type: none;
  position: absolute;
  right: 55px;
  top: 75px;
  border: 1px solid black;
  padding-left: 0px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;

}


.body-container {
  margin: 0px;

}

.fa-user-circle {
  transform: scale(1.5);
  color: #7a7a7a;
  border: 5px
}

.material-symbols-outlined {
  color: #7a7a7a;
  transform: scale(.65);
  font-weight: bold
}


#profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}


a {
  text-decoration: none;
  color: black
}

.logout-button {
  background-color: #7a7a7a;
  color: white;
  border-radius: 40%;
  padding: 7px;
  margin: 5px;
  border: 2px solid black;
}


