.hidden {
  display: none
}


.logo {
  height: 40px
}


.logo:hover {
cursor: pointer
}

.nav-list {
 list-style-type: none;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-right: 40px;
}

.user-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius:45%;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(214, 211, 211);
  padding: 5px;

}

.profile-dropdown {
  list-style-type: none;
  position: absolute;
  right: 55px;
  top: 75px
}


#root {
  border-bottom: 1px solid rgb(214, 211, 211);

}

.body-container {
  margin: 0px
}

.fa-user-circle {
  transform: scale(1.5);
  color: rgb(117, 116, 116);
  border: 5px
}

.material-symbols-outlined {
  color: rgb(117, 116, 116);
  transform: scale(.65);
  font-weight: bold
}
